.container {
  min-height: calc(100vh + 20px);

  
  background-color: var(--color-grey);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.welcome_text{
  padding-top: 20px;
  padding-inline: 10px;
  color: var(--color-white);
  text-align: center;
  
}
.welcome_text h2{
 font-size: 25px;
  margin-bottom: 10px;
  
}
.logo__img{
  width: 100px;
  
 
}

.btn_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 40px;
  background-color: var(--color-white);
  
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
 
 
  padding: 50px 20px;
  
 
}
.btn {
  width: 95%;
  color: var(--color-white);
  background-color: var(--color-grey);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 1px;
}
input {
  width: 100%;
  padding: 10px;
 
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  margin-top: 5px;
}
label {
  text-align: left;
 

 
}
.input_group{
  margin-bottom: 10px;
}
.password_error{
  color: red;
  font-size: 14px;
}
