
.auth__container {
  background-color: var(--color-grey);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.auth__container .logo__img {
  width: 70%;
  height: 70%;
  position: relative;
  top: -200px;
}
.auth__form {
  position: absolute;
  width: 100%;
  height: 380px;
  background-color: #fff;
  bottom: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 20px;
}

.auth__form__container {
  width: 95%;

  padding: 20px 10px;
  border-radius: 10px;
}
.auth__form__container h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  letter-spacing: 3px;
  font-family: "Bebas Neue", cursive;
}
.auth__form__container input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-family: var(--font-1);
  border: none;
  border-bottom: 1px solid #666;
}
.auth__form__container button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: var(--color-grey);
  border: none;
  color: #fff;
  font-family: var(--font-2);
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 5px;
  margin-top: 20px;
}
.auth__link {
  display: flex;
  gap: 7px;
}
.auth__link a {
  text-decoration: none;
  color: var(--color-red);
}
.login__error {
  font-size: 12px;
  color: red;
  margin-left: 40px;
}
.input__container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.input__container img {
  width: 30px;
}
.auth__form__remember{
  display: flex;
  align-items: center;
font-size: 14px;
color: #666;
}

#remember{
  width: 15px;
  height: 15px;
  background-color: #666;
  margin-right: 20px;
  margin-left: 7px;
}

